<!-- {{data | json}} -->
<table>
    <thead>
        <tr>
            @for (item of config; track $index) {
                <th>{{item.key || item.text | uppercase}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            @for (row of config; track $index) {
            <!-- <td>{{item[row.key]}}--- {{row.type}}</td> -->
            @switch (row.type) {
            @case ('input') {
            <td>
                <mat-form-field>
                    <mat-label>{{row.key}}</mat-label>
                    <input matInput type="text" [value]="item[row.key]" class="text-black">
                </mat-form-field>
            </td>
            }
            @case('image'){
                <td>
                <img [src]="item[row.key]" width="55" alt=""/>
                </td>
            }
            @case('button')
            {
                <td>
                <button mat-raised-button (click)="onClick(item.id, row.text)">{{row.text}}</button>
            </td>
            }
            @default {
            <td>
                {{item[row.key]}}
            </td>
            }
            }
            }
        </tr>
        }
    </tbody>
</table>

