@if(coreSerices.isLoading()){
<div class="absolute w-screen h-screen z-50 bg-blue-700/50">
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <mat-spinner></mat-spinner>
  </div>
</div>
}

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink = "items" routerLinkActive="router-link-active">Items</a>
      <a mat-list-item routerLink = "workers" routerLinkActive="router-link-active">Workers</a>
      <a mat-list-item routerLink = "register" routerLinkActive="router-link-active">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>ng-app</span>
      <app-auth></app-auth>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="p-5 bg-slate-500">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
